.showPattern_wrap {
  position:relative;
  width: 100%;
  height: 100%;
  .webgl_canvas {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
  }
  .showPattern_tips{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px;
    background: #eee;
    width: 150px;
    font-size: 20px;
  }
}
